.conteinerQuerodoar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    //border: #005695 solid;


    h1 {
        display: flex;
        align-items: center;
        height: 10vh;
        text-align: center;

        //border: #005695 solid;
        //justify-content: center;
        //border: #005695 solid;
    }


    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;
        height: 90vh;
        border: solid #005695;
        border-radius: 20px;

        input {
            display: flex;
            text-align: start;
            height: 5vh;
            width: 80%;
            border: solid #005695;
            border-radius: 15px;
            padding-left: 2%;
            font-size: 14px;

            transition: transform 0.1s ease-in-out;

            &:hover {
                border-color: linear-gradient(90deg, #001b2f 0%, #005695 100%);
                transform: scale(1.1);
            }
        }

        button {
            justify-content: center;
            width: 50%;
            color: aliceblue;
            background-color: #005695;
            border-radius: 10px;
            height: 8vh;
            font-size: 20px;
            cursor: pointer;


            &:hover {
                transform: scale(0.95);
            }
        }

    }


    @media (max-width: 768px) {
        .conteinerQuerodoar {
            width: 90%;
        }

        .formulario {
            width: 90%;

            img {
                width: 80%;
            }
        }

    }
}